@import "tailwindcss";

:root {
  --background: #f0f9ff  ;
  --foreground: #171717;
}

@theme{
  --font-sans : 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --color-primary: #2563ed;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #6366f1;
  --color-secondary-hover: #4f46e5;
  --color-tertiary: #06b6d4;
  --color-tertiary-hover: #0891b2;
  --color-tertiary-background: rgba(6, 182, 212, 0.2);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes border-spin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-spin {
  background-size: 300% 300%;
  animation: border-spin 4s linear infinite;
}

.rgb-animated {
  background: linear-gradient(270deg, #ff0057, #969415, #00e0ff, #ad00ff, #ff0057);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rgbTextBg 5s ease infinite;
}

@keyframes rgbTextBg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}