@import "tailwindcss";

:root {
  --background: #F3F2F0;
  --foreground: #0A1A2F;
  --diamond: linear-gradient(
    135deg,
    rgba(230, 230, 250, 0.9) 0%,
    rgba(255, 255, 255, 0.95) 50%,
    rgba(200, 200, 255, 0.8) 100% 
  );
  --accent: #C0C0C0;    
  --accent-hover: #A7A7A7; 
  --accent-glow: rgba(192, 192, 192, 0.4);
  --secondary: #D4AF37;    
  --secondary-hover: #B7950B;
  --secondary-glow: rgba(212, 175, 55, 0.4);
  --tertiary: #50C878;
  --tertiary-hover: #3AAE60;
  --tertiary-glow: #3aae6169;
  --muted: #E5E3DF;
}

@theme{

  --font-heading: var(--font-montserrat);
  --font-sans: var(--font-inter);
  --font-signature: var(--font-signature);
  
  --color-primary: var(--accent);
  --color-primary-hover: var(--accent-hover);
  --color-primary-glow : var(--accent-glow);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-glow: var(--secondary-glow);
  --color-tertiary: var(--tertiary); 
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-glow: var(--tertiary-glow);
  --color-tertiary-background: rgba(80, 200, 120, 0.2);
}

body {
  background: var(--diamond);
  color: var(--foreground);
}
